*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EBEBEB ;
}

footer {
    background-color: #EBEBEB ;
    padding: 2% ;
    font-size: 0.75em ; 
}

h1 {
    font-size: 1em ;
    font-style: italic ;
    color: #1BB4E8 ;
}

h2 {
    color: white ;
    padding: 0.5em ;
}

h3 {
    color: white ;
    padding: 0.5em ;
}

nav li {
    list-style: none;
    color: #FFFFFF ;
    display: inline-block ;
}

.cabecalho {
    height:70px;
    display: flex ;
    justify-content: space-between ;
    background-color: #21272B ;
    height: 10vh;
}

.column {
    float: left;
    width: 46%;
    background-color: white;
    padding: 2%;
}

.marca {
    width: 30%;
    vertical-align: middle;
}

.marca img, h1 {
    margin-top: 25px;
}

.menu {
    align-items: left ;
    font-size: 0.75em;
    justify-content: left ;
    padding: 2%;
}

.menu a:hover { /* Muda a cor dos links quando o mouse passa por cima */
    color: #1BB4E8;
}

/* Define a classe da caixa de texto sobre a imagem */
.text-block {
position: absolute;
bottom: 50px;
right: 25px;
background-color: black;
opacity: 0.7;
color: white;
padding-left: 20px;
padding-right: 20px;
}

.row:after {
content: "";
display: table;
clear: both;
}

.link { 
    color: #FFFFFF ; /* Muda a cor dos links */
    text-decoration: none ;
}

#caixa {
    width: 100%;
    position: relative;
}

#logo {
    float: left ;
    margin: 10px ;
}

#barco2 {
    float: left ;
    margin: 0px 10px ;
    height: min-content ;
}

#fone {
    color: #C6B07F;
    text-decoration: none ;
}

#icon {
    vertical-align: middle;
}