*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 90%;
    background-color: #EBEBEB;
    margin: 0 auto;
}

header {
    background-color: #21272B;
    display: flex;
    justify-content: space-between;
}

main {
}

nav {

}

nav ul li {
    font-size: 0.75em;
    padding: 3vh;
    display: inline;
    list-style: none;
    border-right: #EBEBEB 1px solid;
}

nav ul li a:hover {
    color: #1BB4E8;
}

nav ul li:last-child {
    border-right: none;
}

h1 {
    font-size: 1em ;
    font-style: italic ;
    color: #1BB4E8 ;
}

h2 {
    color: white;
    font-style: italic;
    background-color: #1BB4E8;
    padding: 10px;
}

h3 {
    font-style: italic;
}

h2+h2{
    background-color: #C6B07F;
}

.site_container {
    width: 980px;
}

.colunas {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.coluna_esquerda {
    width: 45%;
}

.coluna_direita {
    width: 45%;
}

.container_foto {
    background-image: url(barcoprincipal.jpg);
    height: 495px;
    width: 980px;
}

.link {
    color: #FFFFFF ;
    text-decoration: none ;
}